header{
display: flex;
justify-content: center;
background-color:var(--Gray);
}

.heder-menu{
 display: flex;   
 align-items: center;
 width: 30px;
 height: 50px;
 margin-right: 10px;
 cursor: pointer;
}

@media (min-widgth: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--Gray);
        height: 75px;
        padding: 0 15px;
    }
    .header-logo {
      display: flex;
      align-items: center;  
    }
    .header-nav {
        display: flex;
        align-items: center;
        width: 320px;
    }

    .header-nav ul {
        list-style: none;
        width: 320px;
        display: flex;
        justify-content: space-between;
    }
}